# This file contains optional dependencies for the
# `development`, such as updating or testing the
# source codes of the project.

# In this case, you should install all dependencies
# listed in this file as well as requirements.txt.

# For example:
# $ python -m pip install [-U] -r requirements.txt
# $ python -m pip install [-U] -r requirements-dev.txt

hatch
ruff
mypy
black
pytest
