# This file contains optional dependencies for the
# development, such as updating or testing the
# project's source codes.

# In this case, you should install all dependencies
# listed in this file as well as requirements.txt.

# For example:
# $ python -m pip install [-U] -r requirements.txt
# $ python -m pip install [-U] -r requirements-dev.txt

hatch
ruff
mypy
pytest