# The officially recommended dependencies of the PyTorch ecosystem. 
# When `torch` is installed using this file, other major dependencies 
# such as `numpy` and `pillow` are also automatically installed.
# The given --index-url is based on CUDA 11.7. If you use a different 
# version, modify the 'cu117' part to match yours.
# See https://pytorch.org/get-started/locally/
--index-url https://download.pytorch.org/whl/cu117
torch
torchaudio
torchtext
torchvision

# Other dependencies
torchinfo
tensorboard
python-dotenv
matplotlib
jupyter
lightning[pytorch-extra]>=2.0